* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: AvenirNext;
  src: url('./avenir-next/AvenirNextLTPro-Regular.otf') format('opentype');
}

html {
  font-size: 62.5%;
}

body {
  background: #eceef1;
  display: flex;
  flex-direction: column;
  font-family: AvenirNext, Helvetica, Arial, sans-serif;
}

a {
  color: #38a5eb;
}

button {
  background-color: #2b78c5;
  color: #ffffff;
}

/* Nav */

nav {
  padding: 2rem 4rem;
  display: flex;
  justify-content: flex-end;
}

nav button {
  margin-left: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 2px;
}
nav p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.sign-in-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in-button span {
  margin-right: 1rem;
}

/* Form */
main {
  min-height: 100vh;
}
.form-container {
  margin: 5rem auto;
  width: 38rem;
  background-color: #ffffff;
  border: solid 1px #c7c7c7;
  border-radius: 2px;
}

.form-container h2 {
  text-align: center;
  padding: 2rem 0;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #393a3d;
  font-weight: 400;
}

.form-subtitle {
  width: 80%;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 300;
  color: #393a3d;
}

.form-subtitle a {
  color: #0077c5;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

label {
  display: block;
  width: 85%;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #404040;
  font-weight: 400;
}
#recommended {
  font-weight: 300;
}

.form-telephone-details {
  font-size: 1rem;
  line-height: 1.5rem;
  width: 80%;
  margin: 0 auto;
}
input {
  width: 100%;
  display: block;
  margin: 1rem auto;
}

.form-container button {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 1.5rem auto;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
}

.form-terms {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-style: italic;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* Legal info */

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  margin: 0 1rem;
}

.legal-info p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.legal-info a {
  color: #505050;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

/* Footer */

footer {
  justify-self: end;
  height: 6rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer a {
  margin: 3rem;
}
