* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: AvenirNext;
  src: url('./avenir-next/AvenirNextLTPro-Regular.otf') format('opentype');
}

html {
  font-size: 62.5%;
}

body {
  background: #eceef1;
  display: flex;
  flex-direction: column;
  font-family: AvenirNext, Helvetica, Arial, sans-serif;
}

a {
  color: #38a5eb;
}

button {
  background-color: #2b78c5;
  color: #ffffff;
}

/* Nav */

nav {
  padding: 2rem 4rem;
  display: flex;
  justify-content: flex-end;
}

nav button {
  margin-left: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 2px;
}

/* Form */
main {
  min-height: 100vh;
}
.form-container {
  margin: 5rem auto;
  width: 40rem;
  background-color: #ffffff;
  border: solid 1px #c7c7c7;
  border-radius: 2px;
}

.form-container h2 {
  text-align: center;
  padding: 2rem 0;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #393a3d;
  font-weight: 400;
}

label {
  display: block;
}
input {
  display: block;
  width: 80%;
  margin: 1rem auto;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  margin: 0 1rem;
}

/* Footer */

footer {
  justify-self: end;
  height: 6rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer a {
  margin: 3rem;
}
